@import url("https://fonts.googleapis.com/css2?family=Sarabun:ital,wght@0,400;0,700;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto+Slab:wght@100..900&family=Sarabun:ital,wght@0,400;0,700;1,400;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  text-decoration: none;
  width: hv;
}

:root {
  --bg-color: #131010;
  --text-color: #fdfcfc;
  --hover-color: #19d8de;
  --neon-color: #19d8de;
  --bg-img-color: #fdfcfc;
  --normal-font: 1.5rem;
  --big-font: 2.5rem;
  --neon-font: 0 0 10px #12f7ff;
  --neon-box-shadow: 0 0 0.2rem #12f7ff;
  --bg-color-project-detail: #131010;
  --bg-color-container: rgb(12, 27, 40);
  --bg-color-menu-mobile: #333;
  --hover-button: red;
  --active-button: red;
  --timeline-color-line: red;
  --bg-color-button-next-prev: rgba(251, 246, 246, 0.19);
  --bg-clor-dot: #bbb;
  --text-button-color: rgb(8, 40, 78);
  --font-family-main: "Sarabun", sans-serif;
  --font-family-head: "Roboto Slab", sans-serif;
  --font-size-main: 18px;
  --font-size-head: 24px;
  --font-size-button: 18px;
  --font-size-sub: 20px;
  --font-size-list: 18px;
  --font-size-footer: 16px;
  --font-size-caption: 15px;
  --font-size-list-mobile: 16px;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: var(--font-family-main);
  min-height: 100%;
  width: 100%;
  font-size: var(--font-size-main);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Navbar */
header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  text-decoration: none;
  font-family: var(--font-family-main);
}
nav {
  width: 100%;
  padding: 20px 0px;
}
.logo {
  color: var(--text-color);
}
.logo:hover {
  text-shadow: 0px 0px 5px var(--text-color), 0px 0px 10px var(--text-color),
    0px 0px 30px var(--hover-color), 0px 0px 40px var(--hover-color),
    0px 0px 55px var(--hover-color), 0px 0px 75px var(--hover-color);
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  gap: 3rem;
  color: var(--text-color);
  width: 100%;
  position: fixed;
  top: 0;
  padding: 20px;
  background-color: var(--bg-color);
  z-index: 1000;
}
.navbar li a {
  color: var(--text-color);
}
.navbar li a:hover {
  position: relative;
}
.navbar li a:hover::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: -5px;
  height: 2px;
  background-color: var(--text-color);
  transition: all 0.3s ease-in-out;
}
#menu-icon {
  margin: 10px;
  display: none;
}
.navbar-mobile {
  display: none;
}

/* Main */
main {
  width: 80%;
  font-family: var(--font-family-main);
}

/* About */
.about {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  padding-top: 150px;
  padding-bottom: 150px;
}
.about-text {
  width: 50%;
  text-align: center;
  line-height: 2;
}
.about-text h1 {
  color: var(--text-color);
  font-family: var(--font-family-head);
  overflow: hidden;
  border-right: 0.15em solid var(--text-color);
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: 0.15em;
  animation: typing 5s steps(30, end),
    blink-caret 0.5s step-end infinite;
}
/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: var(--text-color);
  }
}
.about-img {
  width: 50%;
  display: flex;
  justify-content: center;
  border-radius: 50%;
}
.about-img img {
  width: 50%;
  align-items: center;
  border-radius: 50%;
  box-shadow: 0px 0px 0px 0px var(--neon-color),
    0px 0px 5px 5px var(--text-color), 0px 0px 5px 5px var(--neon-color),
    0px 0px 10px 10px var(--neon-color);
}

/* Experience */
/* The actual timeline (the vertical ruler) */
.timeline {
  position: relative;
  margin: 50px auto;
}
/* The actual timeline (the vertical ruler) */
.timeline::after {
  content: "";
  position: absolute;
  width: 6px;
  background-color: var(--timeline-color-line);
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
  z-index: -1;
}
.container {
  padding: 10px 50px;
  position: relative;
  width: 49%;
  background-color: rgb(12, 27, 40);
  opacity: 1;
  z-index: 1;
}
.container-left {
  left: 0;
}
.container-right {
  left: 51%;
}
.container:nth-child(1) {
  animation-delay: 0s;
}
.container:nth-child(2) {
  animation-delay: 4000s;
}
.container:nth-child(3) {
  animation-delay: 6000s;
}
.text-box {
  padding: 20px 30px;
  position: relative;
  border-radius: 6px;
}
.list-experience li {
  font-family: var(--font-family-main);
  font-size: var(--font-size-list);
}
.container img {
  position: absolute;
  width: 80px;
  height: 80px;
  border-radius: 6px;
  z-index: 1;
  right: -20px;
  top: 32px;
  background: var(--bg-img-color);
  padding: 10px;
  object-fit: contain;
}
.container-right img {
  left: -20px;
}
.hidden {
  opacity: 0;
  transform: translateX(0);
  transition: all 1s;
}
.hidden-left {
  opacity: 0;
  transform: translateX(100%);
  transition: all 1s;
}
.hidden-right {
  opacity: 0;
  transform: translateX(-100%);
  transition: all 1s;
}
.show {
  opacity: 1;
  transform: translateX(0);
}

/* Project */
.colossal {
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.mySlides {
  display: none;
  width: 100%;
}
/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}
/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}
@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: 40px;
  height: 40px;
  padding: 8px;
  margin-top: -20px;
  margin-left: -20px;
  background-color: var(--bg-color-button-next-prev);
  color: var(--text-color);
  font-weight: bold;
  font-size: var(--font-size-main);
  transition: background-color 0.6s ease;
  border-radius: 50%;
  user-select: none;
  text-align: center;
}
/* Position the "next button" to the right */
.next {
  right: 0;
}
/* On hover */
.prev:hover,
.next:hover {
  background-color: var(--hover-button);
}
/* Caption text */
.text {
  color: var(--text-color);
  font-size: var(--font-size-caption);
  position: absolute;
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
}
.detail {
  margin-top: 10px;
  width: 50%;
}
.detail p {
  text-align: start;
}
/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 150px 2px;
  background-color: var(--bg-clor-dot);
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.dot-container {
  position: relative;
  text-align: center;
  bottom: 0;
}
.active,
.dot:hover {
  background-color: var(--hover-button);
}
.allBut {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  gap: 5%;
  margin-top: 10px;
}
.btn {
  border-radius: 5px;
  width: 100%;
  font-family: var(--font-family-main);
  font-size: var(--font-size-button);
  color: var(--text-button-color);
  background-color: rgb(249, 250, 246);
  padding: 5px;
}
.scrollVertical {
  width: 100%;
  height: 300px;
  overflow: hidden;
  position: relative;
}
.no-scrollVertical {
  width: 100%;
  height: 300px;
  overflow: hidden;
  position: relative;
}
.photoProject {
  display: flex;
  flex-direction: column;
  transition: transform 5s ease;
  align-items: center;
  width: 800px;
  height: 500px;
}
.photoProject-no-scroll {
  display: flex;
  flex-direction: column;
  transition: transform 5s ease;
  align-items: center;
  width: 800px;
  height: 100%;
}
.photoProject img {
  width: 50%;
}
.photoProject-no-scroll img {
  width: 50%;
  height: 100%;
}
.photoProject:hover {
  animation: slideVertical 5s forwards;
}
@keyframes slideVertical {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-70%);
  }
}

/* Contact */
.contact {
  height: 600px;
}
.container-contract {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  width: 100%;
  height: 100%;
}
.container-contract h3 {
  width: 50%;
}
.contract-details {
  display: flex;
  gap: 50px;
}

/* Footer */
footer {
  font-family: var(--font-family-main);
  font-size: var(--font-size-footer);
}

/* Responsive */
@media (max-width: 768px) {
  body {
    font-size: var(--font-size-main);
  }

  /* Navbar */
  .navbar {
    display: none;
  }
  nav {
    padding: 0px 0px;
  }
  .mobile-menu {
    overflow: hidden;
    background-color: var(--bg-color-menu-mobile);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
  }
  .navbar-mobile li {
    margin-bottom: 10px;
    text-align: center;
  }
  .navbar-mobile li a {
    color: var(--text-color);
    display: block;
    padding: 10px;
  }
  #menu-icon {
    display: block;
  }
  h1 {
    font-size: 20px;
  }
  main {
    width: 100%;
    padding: 0 10px;
  }

  /* About */
  .about {
    flex-direction: column-reverse;
    gap: 50px;
  }
  .about-img {
    width: 100%;
  }
  .about-text {
    width: 80%;
  }

  /* Experience */
  .timeline {
    margin-top: 50px;
  }
  .timeline::after {
    left: 0%;
    margin-left: -3px;
  }
  .container {
    padding: 10px 10px 10px 50px;
    position: relative;
    width: 90%;
    background-color: var(--bg-color-container);
    margin-bottom: 20px;
    margin-left: 5px;
  }
  .container-right,
  .container-left {
    left: 5%;
  }
  .container-left img,
  .container-right img {
    left: -10px;
  }
  .text-box {
    padding: 20px 0px 20px 40px;
  }
  .list-experience li {
    font-size: var(--font-size-list-mobile);
  }

  /* Projects */
  .colossal {
    height: 600px;
  }
  .slideshow-container {
    max-width: 100%;
    position: relative;
    margin: auto;
  }
  .mySlides {
    padding: 10px;
  }
  .prev,
  .next {
    margin-left: 10px;
    margin-right: 10px;
  }
  .prev:hover,
  .next:hover {
    background-color: var(--bg-color-button-next-prev);
  }
  .prev:active,
  .next:active {
    background-color: var(--active-button);
    -webkit-tap-highlight-color: transparent;
  }
  .scrollVertical,
  .no-scrollVertical {
    display: flex;
  }
  .photoProject {
    width: 400px;
    height: 100px;
  }
  .photoProject-no-scroll {
    width: 400px;
    height: 100%;
  }
  .photoProject img {
    width: 80%;
  }
  .photoProject-no-scroll img {
    width: 80%;
    height: 100%;
  }
  .detail {
    margin-top: 10px;
    width: 90%;
  }
  .colossal h1 {
    margin-top: 0;
    text-align: start;
  }
  .dot {
    margin: 170px 2px;
  }

  /* Contact */
  .contact {
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2px;
    width: 100%;
  }
  .container-contract {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  .container-contract h3 {
    width: 100%;
    text-align: center;
  }
  .contract-details {
    display: flex;
    align-items: center;
    gap: 10px;
  }
}
